<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <!--<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />-->
    <link rel="stylesheet" href="~/css/Acceuil.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Bds_site_web.styles.css" asp-append-version="true" />
</head>
<body>
    <div class="banner">
        <img src="~/Images/Banniere/" alt="banniere" />
    </div>
   <!---- <div class="scroll-img">

       <div class="arrow-left">
           <button class="arrow"><img src="~/Icons/chevron_left.svg"/></button>
       </div>

       <div class="img-container">
        <img class="img-banner" src=""alt ="bannière" loading="lazy"/>
        </div>

        <div class="arrow-rigth">
            <button class="arrow"><img src="~/Icons/chevron_right.svg" /></button>
        </div>
    </div>-->
    <div class="metier">
       <div class="container-title"><div class="title"><h1> Nos metiers</h1></div></div>
       <div class="container-metier">


           <!--- <div class="metier-2">

                <div class="img-2"> 
                    image 2

                </div>
                <div class="description-2">
                    description
                </div>
                <div class="voir-plus-2"> 
                    voire plus
                    </div>
            </div>
            <div class="metier-3">
                <div class="img-3"> 
                    image 3
                    </div>
                <div class="description-3">
                    description
                </div>
                <div class="voir-plus-1"> 
                    voire plus</div>
            </div>-->
        </div>
    </div>
    <div class="nouvelles">
        <div class="container-title"><div class="title"><h1> Actualités</h1></div></div>
        <div class="container-nouvelles">
        <div class="videos">
            <!--<div class="container-title-video"><div class="title-video"><h1>videos</h1></div></div>-->
              
            <div class="arrow-left">
                    <button class="arrow"><img src="~/Icons/chevron_left.svg"/></button>
            </div>
            <div class="video-container">
                <div class="video-1"></div>
                <div class="video-2"></div>
               <!--- <div class="video-3"></div>-->
            </div>
            <div class="arrow-rigth">
                    <button class="arrow"><img src="~/Icons/chevron_right.svg" /></button>
            </div>

          </div>
         <div class="Actualites">
            
                <!---<div class="container-title-Actualités"><div class="title-Actualite"><h1>Actualités</h1></div></div>-->
                <div class="Actualites-container">
                    <div class="Actualite-1"></div>
                    <div class="Actualite-2"></div>
                    <div class="Actualite-3"></div>
            </div>
         </div>
         <div class="Temoignages">
            <!---<div class="container-title-Temoignages"><div class="title-Temoignages"><h1>Temoignages</h1></div></div>-->
                <div class="arrow-left">
                    <button class="arrow"><img src="~/Icons/chevron_left.svg"/></button>
                </div>
            <div class="Temoignages-container">
                <div class="Temoignage-1"></div>
                <div class="Temoignage-2"></div>
                <!--<div class="Temoignage-3"></div>
                <div class="Temoignage-4"></div>-->
         </div>
                <div class="arrow-rigth">
                    <button class="arrow"><img src="~/Icons/chevron_right.svg" /></button>
                </div>
       </div>
       </div>
    </div>
    <div class="nos-chiffres-et-partenaires">
        <div class="container-partenaire">
        <!--<div class="arrow-left">
                <button class="arrow"><img src="~/Icons/chevron_left.svg"/></button>
        </div>-->
        <div class="confiance">Ils nous font confiance ... </div>
            @await Component.InvokeAsync("PartenaireList")
       
        <!----<div class="arrow-right">
                <button class="arrow"><img src="~/Icons/chevron_right.svg"/></button>
        </div>-->
     </div>
     </div>
     <script type="text/javascript">
       /* affichage  de la bannière */ 
        let banner = document.querySelector(".banner>img");
        async function fetchData() {
            let response = await fetch('https://localhost:7150/Banner'); // replace 'url' with your API endpoint
            let data = await response.json(); // This line waits for the promise to resolve and gives you the actual data.
            return data;
        }
        fetchData().then(data=>data[0].cheminImage)
                   .then(image=>
                       
                banner.src=banner.src+image);
                /*affichage des chiffres
                let chiffre=document.querySelector(".chiffres");
                async fetchChiffre(){
            let response = await fetch('https://localhost:7150/chiffres'); // replace 'url' with your API endpoint
            let data = await response.json(); // This line waits for the promise to resolve and gives you the actual data.
            return data;
                }
                ferchData().then(data=>
                data.forEach())*/
                
     </script>
     </body>
  </html>