@{
    Layout = "~/Views/Administration/_Layout.cshtml";
}
@model bds_site_web_version7_.Models.TypeEmploi
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Bds_site_web</title>
    <!--<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />-->
    <!--- <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />-->
    <link rel="stylesheet" href="~/css/Create.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Bds_site_web.styles.css" asp-append-version="true" />
</head>
<body>
    <div class="container">
        <div class="container-title">
            <h1>Enregistrer un type d'emploi </h1>
        </div>

        <form class="form" asp-controller="TypeEmploi" asp-action="Create" method="post" enctype="multipart/form-data">

            <div class="form_LibelleTypeStage"> <label asp-for="LibelleTypeEmploi">Libelle du type d'emploi</label><input class="input-button" type="text" required asp-for="LibelleTypeEmploi" /><span asp-validation-for="LibelleTypeEmploi"></span></div>
            <div class="form_LibelleTypeStage"> <label asp-for="DomaineEmploi">Domaine d'emploi'</label><input class="input-button" type="text" required asp-for="DomaineEmploi" /><span asp-validation-for="DomaineEmploi"></span></div>
            <div class="form_submit"> <button class="submit-button">Enregistrer</button></div>
        </form>

    </div>
</body>
</html>
