@using bds_site_web_version7_.Models;
@model Chiffre
<div class="chiffres">

    <div class="Annee-experience"> + de @Model.AnneeExperience ans d'expertise</div>
        <div class="Projet-Realises"> + de @Model.NombreProjetsRealises projets réalisés</div>
        <div class="NPartenaires"> + de @Model.NombreEntreprisePartenaires partenaires</div>
   
</div>