<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <!--<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />-->
    <!--<link rel="stylesheet" href="~/css/Acceuil.css" asp-append-version="true" />-->
    <link rel="stylesheet" href="~/Bds_site_web.styles.css" asp-append-version="true" />
</head>
<body>
   
    <div class="banner">
       
        <img class="img-banner" src="https: //github.githubassets.com/assets/hero-glow-f6eed469bca2.svg"alt ="bannière" loading="lazy" />
        
    </div>
    <h1> Nos Metiers </h1>
    <h1>hjfhjerhfkerhhjekf</h1>
    <div class="metier">
    </div>
    <div>
        <div class="Chiffres">

        </div>
        <div class="actualites">
    
        </div>
        <div class="testimony">

        </div>
    </div>
    </body>
    </html>