
@{
    ViewData["Title"] = "Conseil";
}
@model bds_site_web_version7_.Models.MessageUser
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] </title>
    <!--<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />-->
    <!--- <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />-->
    <link rel="stylesheet" href="~/css/Metier.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Bds_site_web.styles.css" asp-append-version="true" />
</head>
<body>
    <div class="Metier">
       <h1>Le Conseil</h1>
      <div class="body">
          <div class="slogan">
                <h3> Garantir le succès de vos affaires/projets!</h3>
                Pour accompagner nos partenaires et associés, nous collaborons et prenons 
                en charge tous les aspects stratégiques et techniques des projets 
                (assistance à maîtrise d’ouvrage ou en maîtrise d’œuvre) 
                tout en laissant au demandeur la pleine compétence sur la décision
          </div>
           <img src="~/Images/Metier/133522051806627205-Images CONSEIL.jpg"/>
          <div class="body-text">
                <h4>Chez BDS Sarl, la mission de consiste à :</h4>
                <li>Conseiller le maître d’ouvrage au stade de la décision (identification, programmation et budgétisation, études de faisabilité et de rentabilité, études des risques techniques et financiers, etc.)</li>
                <li>Concevoir des modèles adaptés et personnalisés au contexte du demandeur (plan de développement stratégique, ouvrage, etc.) </li>
                <li>Accompagner le donneur d’ordre dans la réalisation de son projet (sélection des entreprises, supervision des travaux, gestion administrative des marchés, planification, etc.)</li>

         </div>
     </div>
   </div>
</body>
</html>