@{
    ViewData["Title"] = "Formation Continue";
}
@model bds_site_web_version7_.Models.MessageUser
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] </title>
    <!--<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />-->
    <!--- <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />-->
    <link rel="stylesheet" href="~/css/Metier.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Bds_site_web.styles.css" asp-append-version="true" />
</head>
<body>
    <div class="Metier">
        <h1>La Formation Continue</h1>
        <div class="body">
            <div class="slogan">
                <h3>Progressez et améliorez votre employabilité</h3>
                BDS Sarl soutien la quête de performance avec un programme de formation modulaire 
                ou à la carte adapté aux besoins du marché de l’emploi. La formation est axée sur 
                la pratique selon l’approche Learning by doing. C’est pourquoi nos programmes 
                de formations aident l’apprenant à progresser pour atteindre les compétences 
                métiers dont il a besoin
            </div>
            <img src="~/Images/Metier/133504288786571911-Images formation 3.jpg" />
            <div class="body-text">
                Nous travaillons sur le parcours de formation lui-même en apportant des réponses précises et opérationnelles pour l’apprenant.
                Nos formations sont assurées par des équipes de formateurs dévouées, passionnées, proactives pour qui la progression et le succès du bénéficiaire se classent au sommet des priorités. Elles sont axées sur l’emploi et la valorisation des talents et s’adressent à toute personne désireuse d’améliorer son potentiel d’employabilité.
                Nos programmes sont flexibles et s’adaptent au contexte des apprenants et nos solutions de coaching visent l’accompagnement et la prise en main des acquis de la formation
            </div>
        </div>
    </div>
</body>
</html>
