@{
    ViewData["Title"] = "Ingenierie";
}
@model bds_site_web_version7_.Models.MessageUser
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] </title>
    <!--<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />-->
    <!--- <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />-->
    <link rel="stylesheet" href="~/css/Metier.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Bds_site_web.styles.css" asp-append-version="true" />

    <meta name="description" content="Au-delà de l’efficacité, l’efficience ! Se fondant sur l’expérience acquise et les compétences des associés, BDS Sarl assure à ses partenaires et associés un accompagnement personnalisé pour réaliser leurs objectifs de croissance. Le modèle Capacity WORKS et la démarche agile sont nos référentiels de travail. Notre méthodologie d’accompagnement est un dispositif collaboratif à haute valeur ajoutée qui vise des résultats tangibles à partir d’une mise en situation dans des cas simulés. Nous garantissons une communication fluide et une meilleure qualité relationnelle avec le demandeur, une meilleure visibilité dans l’évolution du projet, une évaluation en continu des différents paliers de la stratégie à venir, une meilleure prise en compte des enjeux et des problèmes de l’entreprise, et une collaboration exceptionnelle dans la construction de la stratégie d’entreprise." />
    <meta name="keywords" content="BDS Sarl, ingénierie des affaires, efficacité, efficience, Capacity WORKS, démarche agile, accompagnement personnalisé, résultats tangibles, communication fluide, qualité relationnelle, visibilité, évaluation, stratégie, enjeux, problèmes, collaboration, solutions, ingénierie commerciale, ingénierie d'entreprise, ingénierie de la vente, ingénierie de la négociation, performance, productivité, rendement, succès, optimisation, rentabilité, formation professionnelle, apprentissage tout au long de la vie, développement personnel, formation continue en entreprise, formation en ligne, formation à distance, formation sur mesure" />

    @* Ajoutez le code de suivi Google Analytics ci-dessous *@
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-XRF3WKRQHH"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());
        gtag('config', 'G-XRF3WKRQHH');
    </script>
    @* Fin du code de suivi Google Analytics *@
</head>
<body>
    <div class="Metier">
        <h1>L'ingenierie des affaires'</h1>
        <div class="body">
            <div class="slogan">
                <h3> Au-delà de l’efficacité, l’efficience !</h3>
                Se fondant sur l’expérience acquise et les compétences des associés, BDS Sarl assure à
                ses partenaires et associés un accompagnement personnalisé pour réaliser leurs objectifs de croissance. 
                Le modèle Capacity WORKS et la démarche agile sont nos référentiels de travail
            </div>
            <img src="~/Images/Metier/133504288495468480-IMAGE Ingénierie d'affaires.jpeg" />
            <div class="body-text">
                Notre méthodologie d’accompagnement est un dispositif collaboratif à
                haute valeur ajoutée consistant à accompagner un partenaire placé en situation
                réelle tout en s’assurant qu’il est centré sur les résultats qu’il poursuit. C’est une approche 
                interactive orientée « actions et solutions », qui vise des résultats tangibles à partir d’une mise
                en situation dans des cas simulés. Cet accompagnement offre au demandeur la possibilité d’élaborer ses
                propositions d’action en tenant compte de son contexte et de ses objectifs spécifiques afin de préparer 
                et optimiser ses actions futures. Le résultat attendu est donc directement
                opérationnel et bénéfique pour le demandeur qui
                entrevoit les possibilités de succès de son projet.
                <h4>Par cette approche, nous garantissions :</h4>
                	<li>Une communication fluide et une meilleure qualité relationnelle avec le demandeur </li>
                	<li>Une meilleure visibilité dans l’évolution du projet </li>
                	<li>Une évaluation en continu des différents paliers de la stratégie à venir </li>
                	<li>Une meilleure prise en compte des enjeux et des problèmes de l’entreprise </li>
                	<li>Une collaboration exceptionnelle dans la construction de la stratégie d’entreprise.</li>

            </div>
        </div>
    </div>
</body>
</html>
