
    <!DOCTYPE html >
    <html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>@ViewData["Title"] - Bds_site_web</title>
        <!--<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />-->
       <!--- <link rel="stylesheet" href="~/css/Rsite.css" asp-append-version="true" />-->
        <link rel="stylesheet" href="~/css/Administration.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/Bds_site_web.styles.css" asp-append-version="true" />
    </head>
    <body>
        <header class="header"> 
            <div class="logo">
                <img src="~/Icons/logo.jfif" class="img" alt="logo" />
                <div class="slogan">Business|Developpement|service</div>
            </div>
            <div class="title">
                Panneau d'administration
            </div>
        </header>
        <!----<div class="Admin-Container">-->
        <div class="side-bar"> 
                <a class="nav-link" asp-controller="Statistiques" asp-action="Statistiques">Statistiques</a>
                <a class="nav-link"> Actualités</a>
        <a class="nav-link" asp-controller="TypeEmploi" asp-action="Create">Emplois</a>
                <a class="nav-link">Stages</a>
                 <a class="nav-link" asp-controller="Metiers" asp-action="Create">Metiers</a>
                 <a class="nav-link" asp-controller="ProjetAVenir" asp-action="Create">Projets-AVenir</a>
                 <a class="nav-link" asp-controller="ProjetEnCour" asp-action="Create">Projets-En-Cours</a>
                 <a class="nav-link" asp-controller="ProjetRealise" asp-action="Create">Projets-Realises</a>
        <a class="nav-link" asp-controller="FormationTermine" asp-action="Create">FormationTerminé</a>
                <a class="nav-link"asp-controller="Partenaire" asp-action="Create"> Partenaires </a>
                 <a class="nav-link" asp-controller="Temoignages" asp-action="Create">Temoignages</a>
                <a class="nav-link" asp-controller="Images" asp-action="Create">Images</a>
                <a class="nav-link" asp-controller="Videos" asp-action="Create">Videos</a>
                <a class="nav-link"asp-controller="Stages" asp-action="Create">Stages</a>
                <a class="nav-link" asp-controller="TypeStage"asp-action="Create">Type de stage</a>
        <a class="nav-link" asp-controller="Chiffre" asp-action="Create">Nos chiffres</a>
        <a class="nav-link" asp-controller="Interêt" asp-action="Interêt"> interêts</a>
                </div>
       

        <div class="main"role="main">
        @RenderBody()
            
        </div>
      





        <script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
        @await RenderSectionAsync("Scripts", required: false)
    </body>
</html>