@{
    ViewData["Title"] = "Qui sommes Nous ";
}
@model bds_site_web_version7_.Models.MessageUser
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] </title>
    <!--<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />-->
    <!--- <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />-->
    <link rel="stylesheet" href="~/css/QuiSommesNous.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Bds_site_web.styles.css" asp-append-version="true" />
</head>
<body>
    <div class="container">
        <div class="intro">
            <div class="intro-title">
                 Créé en 2013 sous le régime d’établissement, le Cabinet Business Development Services (BDS) devient une SARL en 2021. C’est un Bureau d’Études et d’Analyses, qui exerce des prestations supports utiles aux MPME et aux Particuliers ; notamment les Études & conseils, la (Re)-Ingénierie d’affaires et la (Re)-Ingénierie de la formation continue). En cette qualité, nous nous positionnons comme un réseau de compétences pluridimensionnelles, qui s’appuient sur des approches AGILES.
            Aujourd’hui, le cabinet BDS Sarl développe ses activités autour de trois (03) métiers complémentaires à savoir :
            </div>
           
            <li>Le Conseil</li>
            <li>L’Ingénierie d’affaires</li>	 
            <li>La Formation</li>
            L’assistance technique et stratégique est donc notre cœur de métier. Elle est exécutée dans le cadre d’un accompagnement personnalisé et une approche agile pour la plus grande satisfaction de nos partenaires et associés. Notre assistance aux PME se traduit par :
            <li>La réalisation des études de marché </li>
            <li>Le conseil et l’assistance technique </li>	
            <li>Des formations continues pour renforcer les capacités des acteurs</li>
         </div>
            <div class="vision">
                <h4>Notre Vision</h4>
                <div class="contenu-vision">
                    Conscient des enjeux de développement de la PME africaine, le projet part d’une vision futuriste à savoir
                    : Bâtir une plateforme de référence de production de services de développement aux entreprises (SDE),
                    afin de les aider à atteindre leurs objectifs et améliorer leur compétitivité.
                </div>
            </div>
            <div class="Mission">
                <h4>Notre mission</h4>
            <div class="contenu-mission">
            <li>Accompagner les PME (et les TPE) par des services personnalisés </li>
            <li>Créer une bourse des PME pour répondre à des besoins de sous-traitance à haute intensité de main d’œuvre </li>
            <li>Réaliser des études sectorielles pour impulser le développement des projets innovants.</li>

            </div>
            </div>
            <div class="valeur">
                <h4>Nos Valeurs</h4>
            <div class="contenu-valeur">
                	<li>La collaboration. Toutes nos missions sont exécutées dans une démarche concertée et participative avec le donneur d’ordre </li>
                	<li>La responsabilité. Pour toutes les missions, nous garantissons la pleine satisfaction du demandeur </li>
                	<li>La qualité. Il s’agit pour nous de fournir des services de qualité et conformes aux standards internationaux.</li>

            </div>
            </div>
            <div class="activite">
                <h4>Nos Activités </h4>
            <div class="contenu-activite">
                Le cabinet BDS SARL développe ses activités autour de trois métiers complémentaires à savoir : <bold>le Conseil</bold>  <bold>l’Ingénierie d’affaires</bold>  et  <bold>la Formation continue</bold>.
                Pour accompagner nos partenaires, nos activités concernent :
                	<li>Les études de marché </li>
                	<li>Les études d’impact (études de danger, impact environnemental, etc.) </li>
                	<li>Les avis consultatifs (notes d’analyses stratégiques, notes d’évaluations, études diagnostiques ; plan de mise à niveau, etc.) </li>
                	<li>L’assistance à la rédaction des plans d’affaires (Business plan/model, Plan marketing, etc.) </li>
                	<li>L’intermédiation d’affaires & négoce </li>
                	<li>Les formations continues </li>
                	<li>Le coaching, les motivations & le développement personnel </li>
                	<li>Le placement des jeunes cadres (Compétences RH, etc.)</li>

            </div>
            </div>
            <div class="slogann">
                <h4>Notre Slogan</h4>
                <div class="contenu-slogan">
                « Promouvoir la PME et le savoir-faire local»
                </div>
            </div>
        </div>
        
            
    </div>
</body>
</html>