@{
    Layout = "~/Views/Administration/_Layout.cshtml";
}
@model bds_site_web_version7_.Models.Stage
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Bds_site_web</title>
    <!--<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />-->
    <!--- <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />-->
    <link rel="stylesheet" href="~/css/Create.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Bds_site_web.styles.css" asp-append-version="true" />
</head>
<body>
    <div class="container">
        <div class="container-title">
            <h1>Enregistrer un stage  </h1>
            ViewBag.Message = "Enregistrer avec succès";
        </div>

        <form class="form" asp-controller="Stages" asp-action="Create" method="post" enctype="multipart/form-data">

            <div class="form_DomaineStage"> <label asp-for="DomaineStage">Domaine du Stage</label><input class="input-button" type="text" required asp-for="DomaineStage" /></div>
            <div class="form_TypeStage" ><label asp-for="TypeStage">type de stage</label><select  required class="input-button" asp-for="TypeStage"><option>Académique</option><option>Professionnel</option><option>Perfectionnement</option></select></div

            <div class="form_submit"> <button class="submit-button">Enregistrer</button></div>

        </form>

    </div>
</body>
</html>
