@using bds_site_web_version7_.Models;
@model IEnumerable<ProjetAVenir>
@foreach (var item in Model)
{
               <div class="item-A">

                    <img src="~/Images/Projet/@item.cheminImage"/>

                 <div class="idee">@item.Idee</div>
                 <div class="voir-plus">

                     <a asp-controller="ProjetAvenir"asp-action="@item.Nom_Page"> voir plus</a>
                 </div>
               
               </div>
}