@using bds_site_web_version7_.Models;
@model IEnumerable<ProjetAVenir>
@foreach (var item in Model)
{
               <div class="item-A">

                    <img src=""/>

                <div>idée:@item.Idee</div>
                <button> voir plus</button>
               </div>
}