<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Formation EXCEL : Se former c’est progresser</title>
    <link rel="stylesheet" href="~/css/actualite.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    
</head>
<body>

    <div class="main-container">
        <img src="~/images/actualites/image actu2.jpg" alt="Introduction" class="intro-image">
        <h1 class="page-title">Formation EXCEL : Se former c’est progresser</h1>

        <div class="paragraph">
            <p>Durant la période du 03 au 07 février 2024, le Cabinet BDS SARL a organisé dans ses locaux, une formation sur le logiciel EXCEL à l’attention des managers, chefs de projet et pour les cadres responsables en Ressources Humaines, Marketing & Communication, Comptabilité & Finances, Approvisionnement, Achat & Stockage.</p>
            <p>Cette formation visait à capaciter les participants à :</p>
            <ul>
                <li>Gérer les feuilles de travail, les classeurs, les cellules et les plages de données ;</li>
                <li>Gérer les tableaux (TCD notamment) et les données des tableaux (filtrage, etc.);</li>
                <li>Effectuer des opérations à l’aide de Formules et fonctions et de gérer les graphiques.</li>
            </ul>
        </div>

        <div class="row">
            <div class=" col-sm-4">
                <img src="~/images/actualites/image1 actu2.jpg" alt="Illustrative 2" class="illustrative-image">
            </div>
            <div class=" col-sm-4">
                <img src="~/images/actualites/image actu2.jpg" alt="Illustrative 3" class="illustrative-image">
            </div>
            <div class=" col-sm-4">
                <img src="~/images/actualites/image3 actu2.jpg" alt="Illustrative 3" class="illustrative-image">
            </div>

        </div>
       
        <div class="paragraph">
            <p>A la fin de cette formation, les participants avaient droit à :</p>
            <ul>
                <li>Une certification validée par le partenaire CEGEP GARNEAU</li>
                <li>La conception d’un processus via Bizagi Modeler</li>
                <li>L’adoption de l’Approche par Compétence selon le modèle Learning by doing.</li>
            </ul>
        </div>
    </div>
    


    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>
</html>
