<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Étude de marché pour MATRIX TELECOMS</title>
    <link rel="stylesheet" href="~/css/actualite.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>

<div class="main-container">

        <img src="~/images/actualites/bg actu1.jpg" alt="Introduction" class="intro-image">
        <h1 class="page-title">Étude de marché pour MATRIX TELECOMS</h1>



    <div class="paragraph">
        <p>À la commande du Groupe ICCNET, le Cabinet BDS Sarl, Business Development Services, a réalisé une étude de cartographie des infrastructures socio-économiques dans la zone de Bastos et ses environs.</p>
        <p>L’étude menée avait pour but de recenser les infrastructures, par type et par zone de localisation (rue, GPS, etc.) dans le périmètre prédéfini. Dans le même temps, l’étude visait à localiser des prospects potentiels en vue du déploiement de la fibre optique.</p>
    </div>

    <div class="paragraph">
        <p>Dans le périmètre de l’étude, l’enquête a été réalisée dans les rues principales et dans des rues secondaires qui présentaient un intérêt significatif à la fois pour le tracer de la pose de la fibre optique et pour localiser des prospects potentiels.</p>
        <!-- ... Ajoutez les autres paragraphes selon le besoin -->
    </div>
        <div class="paragraph">
            <p>Les données ont été collectées du 15-20 & 24-27/01/2024 par une approche quantitative quasi-exhaustive de type recensement. Les informations à collecter ont été numérisées à partir de l’outil KoboCollect puis mis à la disposition des enquêteurs grâce à un lien téléchargeable. Ce qui a permis l’exploitation quotidienne des données enregistrées.</p>
            <p>2041 infrastructures ont été enregistrées et classées par type avec des précisions de localisation (coordonnées GPS, rue). L’ensemble des données présentées sous fichier Excel et sur fichier QGIS permettent une correspondance sur Google MAP.</p>
        </div>
            <div class="row">
                <div class=" col-sm-4">
                    <img src="~/images/actualites/image1 actu1.jpg" alt="Illustrative 2" class="illustrative-image">
                   </div>
                <div class=" col-sm-4">
                    <img src="~/images/actualites/image actu1.jpg" alt="Illustrative 3" class="illustrative-image">
                    </div>
                    <div class=" col-sm-4">
                    <img src="~/images/actualites/image3 actu1.jpg" alt="Illustrative 3" class="illustrative-image">
                    </div>

                </div>
                
            

       
    <div class="paragraph">
        <p>Par ailleurs, une démarche empirique de tracking des infrastructures enregistrées sur Google MAP par des usagers/internautes, a permis de collecter des données privées sur certaines infrastructures (Coordonnées GPS, téléphone, etc.).</p>
        <p>Cette démarche a été motivée par la nécessité de traquer des prospects potentiels en prélude à la mise en œuvre du projet d’extension de la fibre optique à large spectre (particuliers, MPME, etc.).</p>
    </div>

    <div class="paragraph">
        <p>La conduite de l’étude a connu la participation effective de 5 agents d’enquête et d’un expert cartographe qui a supervisé les activités de collecte, centralisé les données et analysé les résultats.</p>
        <p>Cette opération n’a pas été aisée compte tenu de la sensibilité de la zone de compétence (Bastos, siège des représentations diplomatiques). Mais cette difficulté a été contournée par l’identification physique des agents (lettre de mission, badge d’identification, chasuble, etc.).</p>
    </div>

    <div class="paragraph">
        <p>Au sortir de cette activité, les agents ont assimilé au fur et à mesure la technique de collecte de données et appris beaucoup en ce qui concerne la collecte numérique de données. Ainsi, nous pensons que les données collectées avec soin et efficacité par cette équipe dynamique serviront de base solide pour contribuer à la meilleure décision.</p>
    </div>

    </div>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>
</html>
