@{
    Layout = "~/Views/Administration/_Layout.cshtml";
}
@model bds_site_web_version7_.Models.ProjetEnCour
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Bds_site_web</title>
    <!--<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />-->
    <!--- <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />-->
    <link rel="stylesheet" href="~/css/Create.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Bds_site_web.styles.css" asp-append-version="true" />
</head>
<body>
    <div class="container-projet">
        <div class="container-title">
            <h1>Enregistrer un Projet En Cours </h1>
        </div>

        <form class="form" asp-controller="ProjetEnCour" asp-action="Create" method="post" enctype="multipart/form-data">
            <div class="form_NomProjetEnCours"><label asp-for="NomProjetEnCours">Nom </label><input type="text" required class="input-button" asp-for="NomProjetEnCours" /></div>
            <div class="form_DureeProjetEnCours"><label asp-for="DureeProjetEnCours">Durée</label><input type="text" required class="input-button" asp-for="DureeProjetEnCours" /></div>
            <div class="form_DureeProjetEnCours"><label asp-for="ObjectifResultatRealise">Resultat</label><input type="text" required class="input-button" asp-for="ObjectifResultatRealise" /></div>

            <div class="form_ResumeProjetEncours"><label asp-for="ResumeDuProjetEnCours">Objectif</label><input type="text" required class="input-button" asp-for="ResumeDuProjetEnCours" /></div>
            <div class="form_DateDebutProjetEncours"><label asp-for="DateDebutProjetEnCours">Date Debut</label><input type="date" required class="input-button" asp-for="DateDebutProjetEnCours" /></div>
            <div class="form_DateFinProjetEncours"><label asp-for="DateFinProjetEnCours">Date de fin</label><input type="date" required class="input-button" asp-for="DateFinProjetEnCours" /></div>
            <div class="cv-file"><input type="file" required class="input-button" asp-for="formFile" /></div>

            <div class="form_submit"> <button class="submit-button">Enregistrer</button></div>
        </form>

    </div>
</body>
