<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Projet de création d’une auto-école virtuelle</title>
    <!-- Styles -->
    <link rel="stylesheet" href="~/css/ProjetaRealiser.css" />
    <!-- FontAwesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
</head>
<body>
   
    <div class="container">
        <div class="row">

            
            <div class="col-md-6 custom-style">
                <img src="~/Images/autoecole/auto ecole.jpg" alt="Image 1" class="image">
            </div>
        </div>
        <h2>Projet de création d’une auto-école virtuelle</h2>

        <h3>Idée</h3>
        <p>Le projet B Driving School est un programme de formation low cost qui met l’accent sur la capacité opérationnelle du participant qui devra être apte à passer l’examen de permis de conduire et à conduire très rapidement.</p>

        <h3>Mise en œuvre</h3>
        <p>La formation conserve ses phases théoriques et pratiques. La formation théorique est faite à distance suivant une approche de e-learning incluant des tutoriels, des simulations d’évaluation et séances de coaching avec le formateur. Le participant est ensuite admis à passer la phase pratique suivant un programme personnalisé qui porte sur les aspects clés de la conduite automobile. Enfin, le participant est accompagné dans la préparation de sa candidature à l’examen de permis de conduire jusqu’à l’obtention de son document. Le programme de formation prévoit des formules différenciées pour s’adapter au profil et aux attentes des participants.</p>

        <h3>Participation au programme</h3>
        <p>La pratique au programme est ouverte à toutes les personnes justifiant d’un accès à l’internet et d’un outil digital de formation à distance. Il est évident que la connaissance de l’outil informatique est un préalable nécessaire pour être apte à participer à la formation.</p>

        <h3>Innovations et perspectives</h3>
        <p>La principale innovation réside dans les modalités de mise en œuvre de la formation. En particulier :</p>
        <ul>
            <li>L’accent est mis sur la dématérialisation de l’activité de formation qui entraîne la réduction des coûts de formation et un gain de temps exceptionnel.</li>
            <li>La personnalisation des activités pratiques avec des solutions qui s’adaptent au profil du candidat et à ses contraintes spécifiques.</li>
            <li>L’accompagnement personnalisé pour passer l’examen de permis de conduire en l’absence de toutes tracasseries.</li>
        </ul>

        <!-- Images illustratives 
        <h3>Images illustratives</h3>
        <div class="col-md-6 custom-style">
        </div>-->
        <div class="row">
           
            <div class="col-md-6  custom-style">
                <img src="~/Images/autoecole/voiture.jpg" alt="Image 2" class="image">
            </div>
           
        </div>
        </div>
</body>
</html>
