<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Projet de capacitation en marketing de luxe</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/css/ProjetaRealiser.css" />
</head>
<body>

    <div class="main-container">
        <div class="row">
        <div class="col-md-4">
        </div>
            <div class="col-md-12">
                <img src="~/images/Luxe/salle1.jpg" alt="Introduction" class="intro-image">
            </div>
        </div>
        <h1 class="page-title">Projet de capacitation en marketing de luxe</h1>

        <div class="paragraph">
            <p><span class="highlight">Idée:</span> L’idée est de créer au Cameroun un centre d’excellence et de certification en marketing de luxe avec pour but de certifier des experts en marketing et communication sur des produits et marques de luxe.</p>
        </div>

        <div class="paragraph">
            <p><span class="highlight">Mise en œuvre:</span> La capacité en Marketing de luxe est un programme dense qui se fera en présentiel et en distanciel autant en anglais qu’en français. La formation se fera sur période totale de quatre (04) mois dont un (01) mois dédiés à la formation sur les concepts et méthodes et trois (03) dédiés à la pratique professionnelle à travers un séjour dans une entreprise partenaire pour développer et suivre la mise en œuvre d’une stratégie de marketing de luxe pour l’un de leurs produits. La formation sera dispensée par des professionnels du marketing et de la communication et des consultants séniors. La formation planifiée se fera autour de trois domaines/centres d’intérêt :</p>
            <ul>
                <li>La mode</li>
                <li>Le tourisme</li>
                <li>L’évènementiel</li>
            </ul>
        </div>

        <div class="paragraph">
            <p><span class="highlight">Participation au programme:</span> Les participants au programme seront sélectionnés par voie de concours lancé sous forme d’un appel à manifestation d’intérêt. Ils devront justifier de compétences et connaissances minimales dans les domaines du marketing, de la communication et des métiers éligibles à la certification.</p>
        </div>

        <div class="paragraph">
            <p><span class="highlight">Innovations et perspectives:</span> La formation sera ouverte de façon compétitive à des apprenants issus de toute l’Afrique. Cinq (05) innovations majeures peuvent être évoquées :</p>
            <ol>
                <li class="innovation-item">La garantie d’insertion et/ou l’appui au démarrage d’un projet de marketing de luxe.</li>
                <li class="innovation-item">La dimension ludique et le réseautage. Un voyage d’étude et d’agrément d’une (01) semaine sera organisé systématiquement à toutes les sessions pour les participants.</li>
                <li class="innovation-item">Le développement des compétences comportementales.</li>
                <li class="innovation-item">Le développement des compétences linguistiques. Au-delà de l’anglais et du français qui sont des langues de travail obligatoires, les participants seront astreints à l’apprentissage de l’une des langues du projet (Allemand, Chinois et Espagnol).</li>
                <li class="innovation-item">Le programme d’alternance (trois mois) et le grand Oral pour la validation des compétences.</li>
            </ol>
        </div>

        <!-- Ajout des images -->
        <div class="row">
            <div class="col-md-4">
                <img src="~/Images/luxe/bracellets.jpg" alt="Image 1" class="img-fluid">
            </div>
            <div class="col-md-4">
                <img src="~/Images/luxe/chaussures.jpg" alt="Image 2" class="img-fluid">
            </div>
            <div class="col-md-4">
                <img src="~/Images/luxe/escarpins.jpg" alt="Image 3" class="img-fluid">
            </div>
        </div>
        <div class="row ">
           
        </div>

    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>
</html>
