@{
    Layout = "~/Views/Rejoindre/_Layout.cshtml";
}
@model bds_site_web_version2_.Models.MessageUser

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Stage</title>
    <!--<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />-->
    <!--- <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />-->
    <link rel="stylesheet" href="~/css/NousRejoindre.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Bds_site_web.styles.css" asp-append-version="true" />
</head>
<body>
    <div class="form_Contact">
        <form asp-controller="Rejoindre" asp-action="PostulerStage" method="post" enctype="multipart/form-data">
            <div class="name-group">
                <div class="form_lastname"> <label asp-for="LastName">Prenom</label><input class="input-button" type="text" required asp-for="LastName" /></div>
                <div class="form_firstname"><label asp-for="FirstName">Nom</label><input type="text" required class="input-button" asp-for="FirstName" /></div>
            </div>
            <div class="name-group">
                <div class="form_email"><label asp-for="Email">Email</label><input type="email" required class="input-button" asp-for="Email" /></div>
                <div class="form_number"><label>Telephone</label><input type="tel" required class="input-button" /></div>
            </div>
            <div class="form_civilite"><label asp-for="civilite">civilite</label><select class="input-button" asp-for="civilite"><option>Monsieur </option><option>Madame </option></select></div>
            <div class="form_civilite"><label asp-for="TypeStage">type Stage</label><select class="input-button" asp-for="TypeStage"><option>Académique</option><option>Professionnel </option></select></div>
            <div class="form_civilite"><label asp-for="DomaineStage">Domaine Stage</label><select class="input-button" asp-for="DomaineStage"><option>informatique</option><option>Marketing </option></select></div>
            <div class="message-group">
                <div class="form_objetMessage"><label asp-for="ObjetMessage">objet message</label><input type="text" required class="input-button" asp-for="ObjetMessage" /></div>
                <div class="form_descriptionMessage"><textarea asp-for="DescriptionMessage" cols=""rows="10">message</textarea></div>
            </div>
            <div class="cv-file"><input type="file" required class="input-button" asp-for="formFile" /></div>
            <div class="form_submit"> <button class="submit-button">Envoyer</button></div>
        </form>
  
    </div>
</body>
</html>
