.header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 4px;
    padding: 30px 8px 30px 8px;
    z-index: 10;
   
    position: fixed;
    top: 0px;
    left: 2px;
    right: 2px;
    box-shadow: 2px 2px #dcdcdc;
    border-bottom: 4px solid #f3a7a7;
    color: white;
    background: linear-gradient(112.1deg, rgb(32, 38, 57) 11.4%, rgb(63, 76, 119) 70.2%);
}
.slogan {
    color: white;
    font-family: Candara;
    font-size: 16px;
    margin-left:36px;
    
}

.header >.logo {
    height: 70px;
    display: flex;
    flex: 1 1;
    align-items: center;
    justify-content: flex-start;
    color: white;
    
}
.img {
    width: 70px;
    height: 70px;
    border-radius: 35px;
}

.title {
    color: white;
    display:flex;
    align-items:center;
    justify-content:flex-start;
    font-size:20px;
    font-family:Candara;
}
.side-bar {
    left: 2px;
    bottom: 15px;
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    z-index: 9;
    top: 138px;
    background-color: rgba(20, 37, 65, 1);
    box-shadow: 2px 2px #dcdcdc;
    padding-right:15px;
    border-radius:4px;

}
.main {
    top: 141px;
    left: 110px;
    position: fixed;
    bottom: 16px;
    right: 4px;
    overflow: auto;
    padding: 5px;
}
.Admin-Container {
    
}
.nav-link {
    border: none;
    color: #dcdcdc;
    padding: 8px;
    text-decoration: none;
    font-size: 12px;
    font-weight: bold;
    font-family: Candara;
}
.interêt {
    border: 1px solid rgb(118, 118, 118);
    display: grid;
    margin-left: 50px;
    margin-right: 50px;
    height: 1200px;
    padding: 15px;
    border-radius: 4px;
    box-shadow: 4px 4px #dcdcdc;
    
}
.Messages {
    border: 1px solid rgb(118, 118, 118);
    display: grid;
    grid-template-rows: 100px 3fr;
    padding: 5px;
    height: 500px;
    box-shadow: 4px 4px #dcdcdc;
    border-radius: 5px;
    overflow: scroll;
    
}
    .Messages > h1 {
        
        margin-top: 0px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: rgba(20, 37, 65, 1);
        border-bottom: 4px solid #f3a7a7;
        color: white;
        border-radius: 4px;
        font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size:18px;
        
    }
    .Messages >.body{
        
    }

.Stages {
    border: 1px solid rgb(118, 118, 118);
    display: grid;
    grid-template-rows: 100px 2fr;
    padding: 5px;
    height: 300px;
    box-shadow: 4px 4px #dcdcdc;
    border-radius: 5px;
    overflow-y: scroll;

}

    .Stages > h1 {
        
        margin-top: 0px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: rgba(20, 37, 65, 1);
        border-bottom: 4px solid #f3a7a7;
        color: white;
        border-radius: 4px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 18px;
    }
.Emplois >.body {
    height: 600px;
   
}
.Stages > .body {
    
    
}

.Emplois {
    border: 1px solid rgb(118, 118, 118);
    display: grid;
    grid-template-rows: 100px 2fr;
    padding: 5px;
    height: 300px;
    box-shadow: 4px 4px #dcdcdc;
    border-radius: 5px;
    overflow: scroll;

}
    .Emplois > h1 {
      
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: rgba(20, 37, 65, 1);
        border-bottom: 4px solid #f3a7a7;
        color: white;
        border-radius: 4px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 18px;
       
    }
    
    /***********/
