.formation {
    border: none;
    height: 900px;
    padding: 15px;
    display: grid;
    grid-row-gap: 10px;
    background-color: white;
    border-radius: 8px;
    margin-top:100px;
}
body{
    background-color:#dcdcdc;
}
.description-formation {
    display:grid;
   padding:15px;
}
.slogan-formation {
    /** border: 1px solid rgb(118, 118, 118);
    box-shadow: 4px 4px #dcdcdc;
    border-radius: 4px;*/
    height: 100%;
    background-color: rgb(239, 217, 253);
    margin-left: 400px;
    margin-right: 400px;
    margin: auto;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-sizing: border-box;
    font-weight: 600;
    color: #161616;
    font-size: 16px;
    padding: 5px;
    border-radius: 6px;
}
.contenu-formation {
    /*border: 1px solid rgb(118, 118, 118);*/
    color: #161616;
    box-sizing: border-box;
    margin-left: 400px;
    margin-right: 400px;
    margin: auto;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    /*box-shadow: 4px 4px #dcdcdc;*/
    /*border-radius: 4px;*/
    background-color: rgb(215, 234, 248);
    
    margin-top: 5px;
    font-size: 16px;
    font-weight: 600;
    border-radius: 6px;
}
.list-formation {
    border: 1px solid rgb(118, 118, 118);
    box-shadow: 4px 4px #dcdcdc;
    border-radius: 4px;
    height: 800px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items:center;
    justify-content:center;
    grid-gap: 15px;
    padding: 15px;
    margin-top: 5px;
    background: radial-gradient(circle at 24.1% 68.8%, rgb(50, 50, 50) 0%, rgb(0, 0, 0) 99.4%);
    
}
    .list-formation > .item {
        border: 1px solid rgb(118, 118, 118);
        
        border-radius: 4px;
        height: 78%;
        padding: 15px;
        color:white;
        font-weight:600;
        font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
.item >.element {
    border: 1px solid rgb(118, 118, 118);
    width: 100%;
    padding-top: 5px;
    padding-bottom: 5px;
}
.item > img {
   
    width: 100%;
    height: 200px;
}
.footer {
    padding: 20px;
    color: white;
    display: grid;
    grid-template-columns: 500px 1fr 1fr;
    background-color: #3c4043;
    box-shadow: 2px 2px #dcdcdc;
    margin: auto;
    grid-gap: 10px;
    color: white;
    overflow: hidden;
    background: linear-gradient(to top, #3c006b, #9948d9);
    background: linear-gradient(112.1deg, rgb(32, 38, 57) 11.4%, rgb(63, 76, 119) 70.2%);
    background: radial-gradient(circle at 24.1% 68.8%, rgb(50, 50, 50) 0%, rgb(0, 0, 0) 99.4%);
    background: linear-gradient(109.6deg, rgba(0, 0, 0, 0.93) 11.2%, rgb(63, 61, 61) 78.9%);
}
.formation{
    height:1500px;
    padding-top:50px;
}
.main {
    margin-top: 45px;
    background-color: white;
    margin-left: auto;
    margin-bottom: 10px;
    margin-right: auto;
    height: 1700px;
    background: radial-gradient(circle at 10% 20%, rgb(226, 240, 254) 0%, rgb(255, 247, 228) 90%);
}
.adress_Contact {
    margin-right: 30px;
    display: grid;
}
a > i {
    color: white;
    font-size: 50px;
    margin-right: 15px;
    text-decoration: none;
}
@media(max-width:1336px) {

    .nav-header {
        display: none;
    }

    .button-menu {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        float: right;
    }

        .button-menu > span {
            color: white;
            font-size: 30px;
        }

    .sidebar {
        right: 2px;
        bottom: 15px;
        position: fixed;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        color: white;
        z-index: 15;
        top: 138px;
        background-color: rgba(20, 37, 65, 1);
        box-shadow: 4px 4px #dcdcdc;
        border-radius: 4px;
        width: 300px;
        background-color: #0082e6;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        transition: .5s;
        display: none;
    }

    .footer {
        display: flex;
        flex-direction: column;
        margin-top: 15px;
        overflow: hidden;
    }
    .slogan-formation {
        /** border: 1px solid rgb(118, 118, 118);
    box-shadow: 4px 4px #dcdcdc;
    border-radius: 4px;*/
        height: 60%;
        background-color: rgb(239, 217, 253);
        margin-left: 400px;
        margin-right: 400px;
        margin: auto;
        margin-top:-25px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        box-sizing: border-box;
        font-weight: 600;
        color: #161616;
        font-size: 16px;
        padding: 5px;
        border-radius: 6px;
    }
    .contenu-formation {
        /*border: 1px solid rgb(118, 118, 118);*/
        color: #161616;
        box-sizing: border-box;
        margin-left: 400px;
        margin-right: 400px;
        margin: auto;
        margin-top:-75px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        /*box-shadow: 4px 4px #dcdcdc;*/
        /*border-radius: 4px;*/
        background-color: rgb(215, 234, 248);
        
        font-size: 16px;
        font-weight: 600;
        border-radius: 6px;
    }
        .list-formation  {
            height: 110%;
            width: 100%;
            margin: auto;
            margin-top:-110px;
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            padding: 1px;
            background: radial-gradient(circle at 24.1% 68.8%, rgb(50, 50, 50) 0%, rgb(0, 0, 0) 99.4%);
        }
            .list-formation > .item {
                border: 1px solid rgb(118, 118, 118);
                border-radius: 4px;
                height: 70%;
                padding: 15px;
                padding-bottom:5px;
                color: white;
                font-weight: 600;
                font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            }
            

   
}

@media(max-width:1277px) {
    .main {
        margin-top: 25px;
        background-color: white;
        margin-left: auto;
        margin-bottom: 10px;
        margin-right: auto;
        height: 1650px;
        background: radial-gradient(circle at 10% 20%, rgb(226, 240, 254) 0%, rgb(255, 247, 228) 90%);
    }
    .formation {
        border: none;
        height: 1500px;
        padding: 15px;
        display: grid;
        grid-row-gap: 10px;
        background-color: white;
        border-radius: 8px;
        margin-top: 100px;
    }
    .slogan-formation {
        /** border: 1px solid rgb(118, 118, 118);
    box-shadow: 4px 4px #dcdcdc;
    border-radius: 4px;*/
        height: 150px;
        background-color: rgb(239, 217, 253);
        margin-left: 400px;
        margin-right: 400px;
        margin: auto;
        margin-top: 0px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        box-sizing: border-box;
        font-weight: 600;
        color: #161616;
        font-size: 16px;
        padding: 5px;
        border-radius: 6px;
    }

    .contenu-formation {
        /*border: 1px solid rgb(118, 118, 118);*/
        color: #161616;
        box-sizing: border-box;
        margin-left: 400px;
        margin-right: 400px;
        margin: auto;
        margin-top: -50px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        /*box-shadow: 4px 4px #dcdcdc;*/
        /*border-radius: 4px;*/
        background-color: rgb(215, 234, 248);
        font-size: 16px;
        font-weight: 600;
        border-radius: 6px;
    }

    .list-formation {
        height: 100%;
        width: 1800px;
        margin: auto;
        margin-top: -90px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        
        padding: 1px;
        box-shadow:none;
        background: radial-gradient(circle at 24.1% 68.8%, rgb(50, 50, 50) 0%, rgb(0, 0, 0) 99.4%);
    }

        .list-formation > .item {
            border: 1px solid rgb(118, 118, 118);
            border-radius: 4px;
            height: 75%;
            padding: 15px;
            padding-bottom: 5px;
            color: white;
            font-weight: 600;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        }
   

    
    .footer {
        display: flex;
        flex-direction: column;
        margin-top: 50px;
        overflow: hidden;
    }

}

@media(max-width:1242px) {
    .slogan-formation {
        /** border: 1px solid rgb(118, 118, 118);
    box-shadow: 4px 4px #dcdcdc;
    border-radius: 4px;*/
        height: 60%;
        background-color: rgb(239, 217, 253);
        margin-left: 400px;
        margin-right: 400px;
        margin: auto;
        margin-top: -25px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        box-sizing: border-box;
        font-weight: 600;
        color: #161616;
        font-size: 16px;
        padding: 5px;
        border-radius: 6px;
    }

    .contenu-formation {
        /*border: 1px solid rgb(118, 118, 118);*/
        color: #161616;
        box-sizing: border-box;
        margin-left: 400px;
        margin-right: 400px;
        margin: auto;
        margin-top: -75px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        /*box-shadow: 4px 4px #dcdcdc;*/
        /*border-radius: 4px;*/
        background-color: rgb(215, 234, 248);
        font-size: 16px;
        font-weight: 600;
        border-radius: 6px;
    }

    .list-formation {
        height: 110%;
        width: 100%;
        margin: auto;
        margin-top: -110px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        padding: 1px;
        background: radial-gradient(circle at 24.1% 68.8%, rgb(50, 50, 50) 0%, rgb(0, 0, 0) 99.4%);
    }

        .list-formation > .item {
            border: 1px solid rgb(118, 118, 118);
            border-radius: 4px;
            height: 80%;
            padding: 15px;
            padding-bottom: 5px;
            color: white;
            font-weight: 600;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        }

    .main {
        margin-top: 25px;
        background-color: white;
        margin-left: auto;
        margin-bottom: 10px;
        margin-right: auto;
        height: 1800px;
        background: radial-gradient(circle at 10% 20%, rgb(226, 240, 254) 0%, rgb(255, 247, 228) 90%);
    }

    .footer {
        display: flex;
        flex-direction: column;
        margin-top: 50px;
        overflow: hidden;
    }
}
@media(max-width:1060px) {
    .main {
        margin-top: 25px;
        background-color: white;
        margin-left: auto;
        margin-bottom: 10px;
        margin-right: auto;
        height: 2800px;
        background: radial-gradient(circle at 10% 20%, rgb(226, 240, 254) 0%, rgb(255, 247, 228) 90%);
    }
    .formation {
        border: none;
        height: 2600px;
        padding: 15px;
        display: grid;
        grid-row-gap: 10px;
        background-color: white;
        border-radius: 8px;
        margin-top: 100px;
    }

    

    .description-formation{
        display:flex;
        flex-direction:column;
        justify-content:center;
    }
    .slogan-formation {
        /** border: 1px solid rgb(118, 118, 118);
    box-shadow: 4px 4px #dcdcdc;
    border-radius: 4px;*/
        height: 90px;
        background-color: rgb(239, 217, 253);
        margin-left: 400px;
        margin-right: 400px;
        margin: auto;
        margin-top: -25px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        box-sizing: border-box;
        font-weight: 600;
        color: #161616;
        font-size: 16px;
        padding: 5px;
        border-radius: 6px;
    }

    .contenu-formation {
        /*border: 1px solid rgb(118, 118, 118);*/
        color: #161616;
        box-sizing: border-box;
        margin-left: 400px;
        margin-right: 400px;
        margin: auto;
        margin-top:-25px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        /*box-shadow: 4px 4px #dcdcdc;*/
        /*border-radius: 4px;*/
        background-color: rgb(215, 234, 248);
        font-size: 16px;
        font-weight: 600;
        border-radius: 6px;
    }

    .list-formation {
        height: 1950px;
        width: 100%;
        margin: auto;
        margin-top: -25px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 1px;
        box-shadow:none;
        background: radial-gradient(circle at 24.1% 68.8%, rgb(50, 50, 50) 0%, rgb(0, 0, 0) 99.4%);
    }

        .list-formation > .item {
            border: 1px solid rgb(118, 118, 118);
            border-radius: 4px;
            height: 30%;
            width: 60%;
            padding: 15px;
            padding-bottom: 5px;
            color: white;
            font-weight: 600;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        }

    .footer {
        display: flex;
        flex-direction: column;
        margin-top: 20px;
        overflow: hidden;
    }
}
@media(max-width:1043px) {
    .main {
        margin-top: 25px;
        background-color: white;
        margin-left: auto;
        margin-bottom: 10px;
        margin-right: auto;
        height: 2800px;
        background: radial-gradient(circle at 10% 20%, rgb(226, 240, 254) 0%, rgb(255, 247, 228) 90%);
    }

    .formation {
        border: none;
        height: 2600px;
        padding: 15px;
        display: grid;
        grid-row-gap: 10px;
        background-color: white;
        border-radius: 8px;
        margin-top: 100px;
    }



    .description-formation {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .slogan-formation {
        /** border: 1px solid rgb(118, 118, 118);
    box-shadow: 4px 4px #dcdcdc;
    border-radius: 4px;*/
        height: 90px;
        background-color: rgb(239, 217, 253);
        margin-left: 400px;
        margin-right: 400px;
        margin: auto;
        margin-top: -15px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        box-sizing: border-box;
        font-weight: 600;
        color: #161616;
        font-size: 16px;
        padding: 5px;
        border-radius: 6px;
    }

    .contenu-formation {
        /*border: 1px solid rgb(118, 118, 118);*/
        color: #161616;
        box-sizing: border-box;
        margin-left: 400px;
        margin-right: 400px;
        margin: auto;
        margin-top: 5px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        /*box-shadow: 4px 4px #dcdcdc;*/
        /*border-radius: 4px;*/
        background-color: rgb(215, 234, 248);
        font-size: 16px;
        font-weight: 600;
        border-radius: 6px;
    }

    .list-formation {
        height: 1950px;
        width: 100%;
        margin: auto;
        margin-top: 0px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 1px;
        box-shadow: none;
        background: radial-gradient(circle at 24.1% 68.8%, rgb(50, 50, 50) 0%, rgb(0, 0, 0) 99.4%);
    }

        .list-formation > .item {
            border: 1px solid rgb(118, 118, 118);
            border-radius: 4px;
            height: 30%;
            width: 60%;
            padding: 15px;
            padding-bottom: 5px;
            color: white;
            font-weight: 600;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        }

    .footer {
        display: flex;
        flex-direction: column;
        margin-top: 20px;
        overflow: hidden;
    }
}
@media(max-width:996px) {
    .main {
        margin-top: 25px;
        background-color: white;
        margin-left: auto;
        margin-bottom: 10px;
        margin-right: auto;
        height: 2900px;
        background: radial-gradient(circle at 10% 20%, rgb(226, 240, 254) 0%, rgb(255, 247, 228) 90%);
    }

    .formation {
        border: none;
        height: 2700px;
        padding: 15px;
        display: grid;
        grid-row-gap: 10px;
        background-color: white;
        border-radius: 8px;
        margin-top: 100px;
    }



    .description-formation {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .slogan-formation {
        /** border: 1px solid rgb(118, 118, 118);
    box-shadow: 4px 4px #dcdcdc;
    border-radius: 4px;*/
        height: 90px;
        background-color: rgb(239, 217, 253);
        margin-left: 400px;
        margin-right: 400px;
        margin: auto;
        margin-top: -15px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        box-sizing: border-box;
        font-weight: 600;
        color: #161616;
        font-size: 16px;
        padding: 5px;
        border-radius: 6px;
    }

    .contenu-formation {
        /*border: 1px solid rgb(118, 118, 118);*/
        color: #161616;
        box-sizing: border-box;
        margin-left: 400px;
        margin-right: 400px;
        margin: auto;
        margin-top: 5px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        /*box-shadow: 4px 4px #dcdcdc;*/
        /*border-radius: 4px;*/
        background-color: rgb(215, 234, 248);
        font-size: 16px;
        font-weight: 600;
        border-radius: 6px;
    }

    .list-formation {
        height: 1950px;
        width: 100%;
        margin: auto;
        margin-top: 0px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 1px;
        box-shadow: none;
        background: radial-gradient(circle at 24.1% 68.8%, rgb(50, 50, 50) 0%, rgb(0, 0, 0) 99.4%);
    }

        .list-formation > .item {
            border: 1px solid rgb(118, 118, 118);
            border-radius: 4px;
            height: 30%;
            width: 60%;
            padding: 15px;
            padding-bottom: 5px;
            color: white;
            font-weight: 600;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        }

    .footer {
        display: flex;
        flex-direction: column;
        margin-top: 20px;
        overflow: hidden;
    }
}
@media(max-width:847px) {
    .main {
        margin-top: 25px;
        background-color: white;
        margin-left: auto;
        margin-bottom: 10px;
        margin-right: auto;
        height: 2900px;
        background: radial-gradient(circle at 10% 20%, rgb(226, 240, 254) 0%, rgb(255, 247, 228) 90%);
    }

    .formation {
        border: none;
        height: 2700px;
        padding: 15px;
        display: grid;
        grid-row-gap: 10px;
        background-color: white;
        border-radius: 8px;
        margin-top: 100px;
    }



    .description-formation {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .slogan-formation {
        /** border: 1px solid rgb(118, 118, 118);
    box-shadow: 4px 4px #dcdcdc;
    border-radius: 4px;*/
        height: 110px;
        background-color: rgb(239, 217, 253);
        margin-left: 400px;
        margin-right: 400px;
        margin: auto;
        margin-top: -15px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        box-sizing: border-box;
        font-weight: 600;
        color: #161616;
        font-size: 16px;
        padding: 5px;
        border-radius: 6px;
    }

    .contenu-formation {
        /*border: 1px solid rgb(118, 118, 118);*/
        color: #161616;
        box-sizing: border-box;
        margin-left: 400px;
        margin-right: 400px;
        margin: auto;
        margin-top: 5px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        /*box-shadow: 4px 4px #dcdcdc;*/
        /*border-radius: 4px;*/
        background-color: rgb(215, 234, 248);
        font-size: 16px;
        font-weight: 600;
        border-radius: 6px;
    }

    .list-formation {
        height: 1950px;
        width: 100%;
        margin: auto;
        margin-top: 0px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 1px;
        box-shadow: none;
        background: radial-gradient(circle at 24.1% 68.8%, rgb(50, 50, 50) 0%, rgb(0, 0, 0) 99.4%);
    }

        .list-formation > .item {
            border: 1px solid rgb(118, 118, 118);
            border-radius: 4px;
            height: 30%;
            width: 60%;
            padding: 15px;
            padding-bottom: 5px;
            color: white;
            font-weight: 600;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        }

    .footer {
        display: flex;
        flex-direction: column;
        margin-top: 20px;
        overflow: hidden;
    }
}
@media(max-width:774px) {
    .main {
        margin-top: 25px;
        background-color: white;
        margin-left: auto;
        margin-bottom: 10px;
        margin-right: auto;
        height: 2900px;
        background: radial-gradient(circle at 10% 20%, rgb(226, 240, 254) 0%, rgb(255, 247, 228) 90%);
    }

    .formation {
        border: none;
        height: 2750px;
        padding: 15px;
        display: grid;
        grid-row-gap: 10px;
        background-color: white;
        border-radius: 8px;
        margin-top: 100px;
    }



    .description-formation {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .slogan-formation {
        /** border: 1px solid rgb(118, 118, 118);
    box-shadow: 4px 4px #dcdcdc;
    border-radius: 4px;*/
        height: 110px;
        background-color: rgb(239, 217, 253);
        margin-left: 400px;
        margin-right: 400px;
        margin: auto;
        margin-top: -15px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        box-sizing: border-box;
        font-weight: 600;
        color: #161616;
        font-size: 16px;
        padding: 5px;
        border-radius: 6px;
    }

    .contenu-formation {
        /*border: 1px solid rgb(118, 118, 118);*/
        color: #161616;
        box-sizing: border-box;
        margin-left: 400px;
        margin-right: 400px;
        margin: auto;
        margin-top: 5px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        /*box-shadow: 4px 4px #dcdcdc;*/
        /*border-radius: 4px;*/
        background-color: rgb(215, 234, 248);
        font-size: 16px;
        font-weight: 600;
        border-radius: 6px;
    }

    .list-formation {
        height: 1950px;
        width: 100%;
        margin: auto;
        margin-top: 0px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 1px;
        box-shadow: none;
        background: radial-gradient(circle at 24.1% 68.8%, rgb(50, 50, 50) 0%, rgb(0, 0, 0) 99.4%);
    }

        .list-formation > .item {
            border: 1px solid rgb(118, 118, 118);
            border-radius: 4px;
            height: 30%;
            width: 60%;
            padding: 15px;
            padding-bottom: 5px;
            color: white;
            font-weight: 600;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        }

    .footer {
        display: flex;
        flex-direction: column;
        margin-top: 20px;
        overflow: hidden;
    }
}
@media(max-width:754px) {
    .main {
        margin-top: 25px;
        background-color: white;
        margin-left: auto;
        margin-bottom: 10px;
        margin-right: auto;
        height: 2950px;
        background: radial-gradient(circle at 10% 20%, rgb(226, 240, 254) 0%, rgb(255, 247, 228) 90%);
    }

    .formation {
        border: none;
        height: 2790px;
        padding: 15px;
        display: grid;
        grid-row-gap: 10px;
        background-color: white;
        border-radius: 8px;
        margin-top: 100px;
    }



    .description-formation {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .slogan-formation {
        /** border: 1px solid rgb(118, 118, 118);
    box-shadow: 4px 4px #dcdcdc;
    border-radius: 4px;*/
        height: 150px;
        background-color: rgb(239, 217, 253);
        margin-left: 400px;
        margin-right: 400px;
        margin: auto;
        margin-top: -15px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        box-sizing: border-box;
        font-weight: 600;
        color: #161616;
        font-size: 16px;
        padding: 5px;
        border-radius: 6px;
    }

    .contenu-formation {
        /*border: 1px solid rgb(118, 118, 118);*/
        color: #161616;
        box-sizing: border-box;
        margin-left: 400px;
        margin-right: 400px;
        margin: auto;
        margin-top:5px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        /*box-shadow: 4px 4px #dcdcdc;*/
        /*border-radius: 4px;*/
        background-color: rgb(215, 234, 248);
        font-size: 16px;
        font-weight: 600;
        border-radius: 6px;
    }

    .list-formation {
        height: 1950px;
        width: 100%;
        margin: auto;
        margin-top: -10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 1px;
        box-shadow: none;
        background: radial-gradient(circle at 24.1% 68.8%, rgb(50, 50, 50) 0%, rgb(0, 0, 0) 99.4%);
    }

      

    .footer {
        display: flex;
        flex-direction: column;
        margin-top: 20px;
        overflow: hidden;
    }
}
@media(max-width:723px) {
    .main {
        margin-top: 25px;
        background-color: white;
        margin-left: auto;
        margin-bottom: 10px;
        margin-right: auto;
        height: 3300px;
        background: radial-gradient(circle at 10% 20%, rgb(226, 240, 254) 0%, rgb(255, 247, 228) 90%);
    }

    .formation {
        border: none;
        height: 3100px;
        padding: 15px;
        display: grid;
        grid-row-gap: 10px;
        background-color: white;
        border-radius: 8px;
        margin-top: 100px;
    }



    .description-formation {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .slogan-formation {
        /** border: 1px solid rgb(118, 118, 118);
    box-shadow: 4px 4px #dcdcdc;
    border-radius: 4px;*/
        height: 150px;
        background-color: rgb(239, 217, 253);
        margin-left: 400px;
        margin-right: 400px;
        margin: auto;
        margin-top: -15px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        box-sizing: border-box;
        font-weight: 600;
        color: #161616;
        font-size: 16px;
        padding: 5px;
        border-radius: 6px;
    }

    .contenu-formation {
        /*border: 1px solid rgb(118, 118, 118);*/
        color: #161616;
        box-sizing: border-box;
        margin-left: 400px;
        margin-right: 400px;
        margin: auto;
        margin-top: 5px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        /*box-shadow: 4px 4px #dcdcdc;*/
        /*border-radius: 4px;*/
        background-color: rgb(215, 234, 248);
        font-size: 16px;
        font-weight: 600;
        border-radius: 6px;
    }
    .list-formation {
        height: 2200px;
        width: 100%;
        margin: auto;
        margin-top: -10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 1px;
        box-shadow: none;
        background: radial-gradient(circle at 24.1% 68.8%, rgb(50, 50, 50) 0%, rgb(0, 0, 0) 99.4%);
    }
    

    .footer {
        display: flex;
        flex-direction: column;
        margin-top: 20px;
        overflow: hidden;
    }
}
@media(max-width:675px) {
    .main {
        margin-top: 25px;
        background-color: white;
        margin-left: auto;
        margin-bottom: 10px;
        margin-right: auto;
        height: 3350px;
        background: radial-gradient(circle at 10% 20%, rgb(226, 240, 254) 0%, rgb(255, 247, 228) 90%);
    }

    .formation {
        border: none;
        height: 3200px;
        padding: 15px;
        display: grid;
        grid-row-gap: 10px;
        background-color: white;
        border-radius: 8px;
        margin-top: 100px;
    }



    .description-formation {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .slogan-formation {
        /** border: 1px solid rgb(118, 118, 118);
    box-shadow: 4px 4px #dcdcdc;
    border-radius: 4px;*/
        height: 150px;
        background-color: rgb(239, 217, 253);
        margin-left: 400px;
        margin-right: 400px;
        margin: auto;
        margin-top: -15px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        box-sizing: border-box;
        font-weight: 600;
        color: #161616;
        font-size: 16px;
        padding: 5px;
        border-radius: 6px;
    }

    .contenu-formation {
        /*border: 1px solid rgb(118, 118, 118);*/
        color: #161616;
        box-sizing: border-box;
        margin-left: 400px;
        margin-right: 400px;
        margin: auto;
        margin-top: 5px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        /*box-shadow: 4px 4px #dcdcdc;*/
        /*border-radius: 4px;*/
        background-color: rgb(215, 234, 248);
        font-size: 16px;
        font-weight: 600;
        border-radius: 6px;
    }

    .list-formation {
        height: 2200px;
        width: 100%;
        margin: auto;
        margin-top: -10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 1px;
        box-shadow: none;
        background: radial-gradient(circle at 24.1% 68.8%, rgb(50, 50, 50) 0%, rgb(0, 0, 0) 99.4%);
    }


    .footer {
        display: flex;
        flex-direction: column;
        margin-top: 20px;
        overflow: hidden;
    }
}
@media(max-width:643px) {
    .main {
        margin-top: 25px;
        background-color: white;
        margin-left: auto;
        margin-bottom: 10px;
        margin-right: auto;
        height: 3400px;
        background: radial-gradient(circle at 10% 20%, rgb(226, 240, 254) 0%, rgb(255, 247, 228) 90%);
    }

    .formation {
        border: none;
        height: 3250px;
        padding: 15px;
        display: grid;
        grid-row-gap: 10px;
        background-color: white;
        border-radius: 8px;
        margin-top: 100px;
    }



    .description-formation {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .slogan-formation {
        /** border: 1px solid rgb(118, 118, 118);
    box-shadow: 4px 4px #dcdcdc;
    border-radius: 4px;*/
        height: 150px;
        background-color: rgb(239, 217, 253);
        margin-left: 400px;
        margin-right: 400px;
        margin: auto;
        margin-top: -15px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        box-sizing: border-box;
        font-weight: 600;
        color: #161616;
        font-size: 16px;
        padding: 5px;
        border-radius: 6px;
    }

    .contenu-formation {
        /*border: 1px solid rgb(118, 118, 118);*/
        color: #161616;
        box-sizing: border-box;
        margin-left: 400px;
        margin-right: 400px;
        margin: auto;
        margin-top: 5px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        /*box-shadow: 4px 4px #dcdcdc;*/
        /*border-radius: 4px;*/
        background-color: rgb(215, 234, 248);
        font-size: 16px;
        font-weight: 600;
        border-radius: 6px;
    }

    .list-formation {
        height: 2200px;
        width: 100%;
        margin: auto;
        margin-top: -10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 1px;
        box-shadow: none;
        background: radial-gradient(circle at 24.1% 68.8%, rgb(50, 50, 50) 0%, rgb(0, 0, 0) 99.4%);
    }


    .footer {
        display: flex;
        flex-direction: column;
        margin-top: 20px;
        overflow: hidden;
    }
}
@media(max-width:605px) {
    .main {
        margin-top: 25px;
        background-color: white;
        margin-left: auto;
        margin-bottom: 10px;
        margin-right: auto;
        height: 3400px;
        background: radial-gradient(circle at 10% 20%, rgb(226, 240, 254) 0%, rgb(255, 247, 228) 90%);
    }

    .formation {
        border: none;
        height: 3250px;
        padding: 15px;
        display: grid;
        grid-row-gap: 10px;
        background-color: white;
        border-radius: 8px;
        margin-top: 100px;
    }



    .description-formation {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .slogan-formation {
        /** border: 1px solid rgb(118, 118, 118);
    box-shadow: 4px 4px #dcdcdc;
    border-radius: 4px;*/
        height: 150px;
        background-color: rgb(239, 217, 253);
        margin-left: 400px;
        margin-right: 400px;
        margin: auto;
        margin-top: -15px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        box-sizing: border-box;
        font-weight: 600;
        color: #161616;
        font-size: 16px;
        padding: 5px;
        border-radius: 6px;
    }

    .contenu-formation {
        /*border: 1px solid rgb(118, 118, 118);*/
        color: #161616;
        box-sizing: border-box;
        margin-left: 400px;
        margin-right: 400px;
        margin: auto;
        margin-top: 5px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        /*box-shadow: 4px 4px #dcdcdc;*/
        /*border-radius: 4px;*/
        background-color: rgb(215, 234, 248);
        font-size: 16px;
        font-weight: 600;
        border-radius: 6px;
    }

    .list-formation {
        height: 2200px;
        width: 100%;
        margin: auto;
        margin-top: -10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 1px;
        box-shadow: none;
        background: radial-gradient(circle at 24.1% 68.8%, rgb(50, 50, 50) 0%, rgb(0, 0, 0) 99.4%);
    }
        .list-formation > .item {
            border: 1px solid rgb(118, 118, 118);
            border-radius: 4px;
            height: 30%;
            width: 60%;
            padding: 15px;
            padding-bottom: 5px;
            color: white;
            font-weight: 600;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        }

    .footer {
        display: flex;
        flex-direction: column;
        margin-top: 20px;
        overflow: hidden;
    }
}
@media(max-width:587px) {
    .main {
        margin-top: 25px;
        background-color: white;
        margin-left: auto;
        margin-bottom: 10px;
        margin-right: auto;
        height: 3800px;
        background: radial-gradient(circle at 10% 20%, rgb(226, 240, 254) 0%, rgb(255, 247, 228) 90%);
    }

    .formation {
        border: none;
        height: 3500px;
        padding: 15px;
        display: grid;
        grid-row-gap: 10px;
        background-color: white;
        border-radius: 8px;
        margin-top: 100px;
    }



    .description-formation {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .slogan-formation {
        /** border: 1px solid rgb(118, 118, 118);
    box-shadow: 4px 4px #dcdcdc;
    border-radius: 4px;*/
        height: 250px;
        background-color: rgb(239, 217, 253);
        margin-left: 400px;
        margin-right: 400px;
        margin: auto;
        margin-top: -15px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        box-sizing: border-box;
        font-weight: 600;
        color: #161616;
        font-size: 16px;
        padding: 5px;
        border-radius: 6px;
    }

    .contenu-formation {
        /*border: 1px solid rgb(118, 118, 118);*/
        color: #161616;
        box-sizing: border-box;
        margin-left: 400px;
        margin-right: 400px;
        margin: auto;
        margin-top: 5px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        /*box-shadow: 4px 4px #dcdcdc;*/
        /*border-radius: 4px;*/
        background-color: rgb(215, 234, 248);
        font-size: 16px;
        font-weight: 600;
        border-radius: 6px;
    }

    .list-formation {
        height: 2250px;
        width: 100%;
        margin: auto;
        margin-top: -10px;
        display: flex;
        flex-direction: column;
        
        padding: 1px;
        box-shadow: none;
        background: radial-gradient(circle at 24.1% 68.8%, rgb(50, 50, 50) 0%, rgb(0, 0, 0) 99.4%);
    }

        .list-formation > .item {
            border: 1px solid rgb(118, 118, 118);
            border-radius: 4px;
            height: 35%;
            width: 100%;
            padding: 15px;
            padding-bottom: 5px;
            color: white;
            font-weight: 600;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        }

    .footer {
        display: flex;
        flex-direction: column;
        margin-top: 20px;
        overflow: hidden;
    }
}
@media(max-width:566px) {
    .main {
        margin-top: 25px;
        background-color: white;
        margin-left: auto;
        margin-bottom: 10px;
        margin-right: auto;
        height: 3900px;
        background: radial-gradient(circle at 10% 20%, rgb(226, 240, 254) 0%, rgb(255, 247, 228) 90%);
    }

    .formation {
        border: none;
        height: 3750px;
        padding: 15px;
        display: grid;
        grid-row-gap: 10px;
        background-color: white;
        border-radius: 8px;
        margin-top: 100px;
    }



    .description-formation {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .slogan-formation {
        /** border: 1px solid rgb(118, 118, 118);
    box-shadow: 4px 4px #dcdcdc;
    border-radius: 4px;*/
        height: 150px;
        background-color: rgb(239, 217, 253);
        margin-left: 400px;
        margin-right: 400px;
        margin: auto;
        margin-top: -15px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        box-sizing: border-box;
        font-weight: 600;
        color: #161616;
        font-size: 16px;
        padding: 5px;
        border-radius: 6px;
    }

    .contenu-formation {
        /*border: 1px solid rgb(118, 118, 118);*/
        color: #161616;
        box-sizing: border-box;
        margin-left: 400px;
        margin-right: 400px;
        margin: auto;
        margin-top: 5px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        /*box-shadow: 4px 4px #dcdcdc;*/
        /*border-radius: 4px;*/
        background-color: rgb(215, 234, 248);
        font-size: 16px;
        font-weight: 600;
        border-radius: 6px;
    }

    .list-formation {
        height: 2480px;
        width: 100%;
        margin: auto;
        margin-top: -10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 1px;
        box-shadow: none;
        background: radial-gradient(circle at 24.1% 68.8%, rgb(50, 50, 50) 0%, rgb(0, 0, 0) 99.4%);
    }

        .list-formation > .item {
            border: 1px solid rgb(118, 118, 118);
            border-radius: 4px;
            height: 35%;
            width: 60%;
            padding: 15px;
            padding-bottom: 5px;
            color: white;
            font-weight: 600;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        }

    .footer {
        display: flex;
        flex-direction: column;
        margin-top: 20px;
        overflow: hidden;
    }
}