.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    border: none;
    border-radius: 4px;
    padding: 30px 8px 30px 8px;
    z-index: 10;
    background-color: rgba(20, 37, 65, 1);
    position: fixed;
    top: 0px;
    left: 4px;
    right: 4px;
    box-shadow: 2px 2px #dcdcdc;
    border-bottom: 4px solid;
    border-bottom-color: orange;
}
.header {
    display: grid;
    grid-template-columns: 400px 1fr;
    border: none;
    border-radius: 4px;
    padding: 30px 8px 30px 8px;
    z-index: 10;
    background-color: rgba(20, 37, 65, 1);
    position: fixed;
    top: 0px;
    left: 4px;
    right: 4px;
    box-shadow: 2px 2px #dcdcdc;
    border-bottom: 4px solid;
    border-bottom-color: #d93025;
    border-bottom-color: #d93025a6;
    border-bottom-color: #f3a7a7;
    background-color: #3f51b5;
}

.slogan {
    color: white;
    font-family: Candara;
    font-size: 16px;
    margin-right: 35px;
}

.header > .logo {
    height: 70px;
    display: flex;
    flex: 1 1;
    align-items: center;
    justify-content: space-around;
    color: white;
}

.img {
    width: 70px;
    height: 70px;
    border-radius: 35px;
}

.nav-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
}
textarea {
    background-color: #e8eaed;
}

body {
    background-color:whitesmoke;
    font-family: Candara;
}

.link-header {
    border: none;
    color: #dcdcdc;
    padding: 8px;
    text-decoration: none;
    font-size: 15px;
    font-weight: bold;
    font-family: Candara;
}

.footer {
    padding: 20px;
    color: white;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-bottom: -1000px;
    background-color: rgba(20, 37, 65, 1);
    background-color: #3c4043;
    box-shadow: 2px 2px #dcdcdc;
    margin-top: 50px;
}

.form_Contact {
    padding: 10px;
}

.bar_Contact {
    display: flex;
}

.bar_localisation {
    display: flex;
}

.adress_localisation {
    margin-right: 30px;
}

.adress {
    padding: 10px;
}

.map {
}

.form_lastname, .form_firstname, .form_civilite, .form_email, .form_number, .form_objetMessage, .form_descriptionMessage {
    display: grid;
}

.name-group {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 5px;
}

.form_civilite {
    width: 100%;
}

.message-group {
    display: grid;
    row-gap: 10px;
    margin-bottom: 5px;
}

.submit-button {
    width: 100%;
    font-family: Candara;
    background-color: rgba(52, 168, 83, 1);
    color: white;
    font-size: 26px;
    border: none;
    height: 20px;
    height: 40px;
    font-weight: bold;
    border-radius: 5px;
}

.main {
    margin-top: 45px;
    background-color:white;
    margin-left: auto;
    margin-bottom: 10px;
    margin-right: auto;
    border:1px solid black;
    height:800px;
}

.adress_Contact {
    margin-right: 30px;
}

.input-button {
    border: none;
    height: 40px;
    outline-color: deepskyblue;
    border-radius: 3px;
}

button {
    font-family: Candara;
    background-color: rgba(52, 168, 83, 1);
    color: white;
    font-size: 16px;
    border: none;
    height: 20px;
}
.nav-projet {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:flex-start;
    border: none;
    border-radius: 4px;
    padding: 5px;
    z-index: 5;
   width:400px;
    margin-top: 150px;
    margin-left: 60px;
    margin-right: 60px;
}
.nav-link {
    border: 1px dashed;
    padding: 8px;
    text-decoration: none;
    font-size: 15px;
    font-weight: bold;
    font-family: Candara;
    width:100%;
    border-radius:4px;
   margin-right:5px;
    
}
.adress {
    padding: 5px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    font-weight: 600;
}
.bar_Contact {
    display: grid;
    grid-row-gap: 5px;
}

.bar_localisation {
    display: grid;
    grid-row-gap: 5px;
}

.adress_localisation {
    margin-right: 30px;
}
.footer {
    padding: 20px;
    color: white;
    display: grid;
    grid-template-columns: 500px 1fr 1fr;
    margin-bottom: -1000px;
    background-color: rgba(20, 37, 65, 1);
    background-color: #3c4043;
    background-color: #3c4043;
    box-shadow: 2px 2px #dcdcdc;
    margin: auto;
    margin-top: 40px;
    z-index: 11;
    grid-gap: 10px;
    color: white;
}

.list-projet{
    border:1px dashed black;
    height:98%;
    width:90%;
    overflow:scroll;
    margin:auto;
   display:grid;
   grid-template-columns: 1fr 1fr 1fr 1fr;
   grid-column-gap:15px;
   grid-row-gap:10px;
   padding:5px;
}
    .list-projet > .item {
        height: 60%;
        border: 1px solid rgb(118, 118, 118);
        box-shadow: 4px 4px #dcdcdc;
        border-radius:4px;
        width:100%;
    }
.item >.element {
    border: 1px solid rgb(118, 118, 118);
    width: 100%;
    padding-top: 5px;
    padding-bottom: 5px;
}
.item>img {
    width: 100%;
    height:150px;
    object-fit:cover;
}
.intro-list-projet {
    border: 1px solid rgb(118, 118, 118);
    border-radius: 4px;
    height: 100px;
    margin: auto;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: rgb(255 254 255);
    box-sizing: border-box;
    font-size: 16px;
    font-weight: 600;
    background-color: rgb(223, 246, 221);
    color-scheme:light;
}
.list-projet-A {
    border: 1px dashed black;
    height: 85%;
    width: 90%;
    overflow: scroll;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column-gap: 15px;
    grid-row-gap: 10px;
    padding: 5px;
    margin-top:15px;
}
    .list-projet-A > .item-A {
        height: 100%;
        border: 1px solid rgb(118, 118, 118);
        box-shadow: 4px 4px #dcdcdc;
        border-radius: 4px;
        width: 100%;
        display:grid;
        grid-template-rows:200px 1fr 1fr;
    }
    .item-A > img {
        border:1px solid green;
    }