.header {
    display: grid;
    grid-template-columns: 400px 1fr 35px;
    border: none;
    border-radius: 4px;
    padding: 30px 8px 30px 8px;
    z-index: 10;
    background-color: rgba(20, 37, 65, 1);
    position: fixed;
    top: 0px;
    left: 4px;
    right: 4px;
    box-shadow: 2px 2px #dcdcdc;
    border-bottom: 4px solid;
    border-bottom-color: #d93025;
    border-bottom-color: #d93025a6;
    border-bottom-color: #f3a7a7;
    background-color: #3f51b5;
}
 a:hover {
    border: 4px solid;
    border-color:white;
    color:white;
    
}

.slogan{
    color:white;
    font-family:Candara;
    font-size:16px;
    margin-right:55px;
    display:grid;
    margin-left:25px;
}
    .slogan > .contenu-slogon {
        color: #f3a7a7;
        font-weight: bold;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-style: italic;
        font-size:12px;
    }
    .header > .logo {
        height: 70px;
        display: flex;
        flex: 1 1;
        align-items: center;
        justify-content: space-around;
        color: white;
    }
.img{
   width:70px;
   height:70px;
   border-radius:35px;
}
.nav-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
}


.button-menu{
    display:flex;
    align-items:center;
    justify-content:flex-end;
    float:right;
    display:none;
    
}
    .button-menu > span {
        color: white;
        font-size: 30px;
      
    }
.body {
    background-color: aliceblue;
    font-family: Candara;
    scroll-behavior: smooth;
}
.link-header {
    border: none;
    color: #dcdcdc;
    padding: 8px;
    text-decoration: none;
    font-size: 15px;
    font-weight: bold;
    font-family: Candara;
   
}
.footer {
    padding: 20px;
    color: white;
    display: grid;
    grid-template-columns: 500px 1fr 1fr;
    margin-bottom: -1000px;
    background-color: rgba(20, 37, 65, 1);
    background-color: #3c4043;
    background-color: #3c4043;
    box-shadow: 2px 2px #dcdcdc;
    margin: auto;
    margin-top:40px;
    z-index: 11;
    grid-gap: 10px;
    color: white;
}
.form_Contact {
    padding: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    font-weight: 600;
}
.bar_Contact {
    display: grid;
    grid-row-gap:5px;
   
}
.bar_localisation {
    display: grid;
    grid-row-gap: 5px;
}
.adress_localisation{
    margin-right:30px;
}
.adress {
    padding:5px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size:16px;
    font-weight:600;
    
}
.active {
    border: 4px solid;
    border-color: white;
    color: white;
}

.form_lastname, .form_firstname, .form_civilite,.form_email,.form_number, .form_objetMessage, .form_descriptionMessage {
    display: grid;
}
.name-group{
    display:grid;
    grid-template-columns:1fr 1fr;
    column-gap:5px;
}
.form_civilite{
    width:100%;
}
.message-group {
    display: grid;
   row-gap: 10px;
   margin-bottom:5px;
}
.submit-button {
    width: 100%;
    font-family: Candara;
    background-color: rgba(52, 168, 83, 1);
    color: white;
    font-size: 26px;
    border: none;
    height: 20px;
    height: 40px;
    font-weight: bold;
    border-radius:5px;
}
.main {
    margin-top: 15px;
    border: 1px solid black;
    background-color: white;
    color: black;
    height: 1800px;
    padding: 8px;
    background-color: #f8f9fa;
}
.adress_Contact{
    margin-right:30px;
    display:grid;
}
.input-button {
    border: none;
    height: 40px;
    outline-color: deepskyblue;
    border-radius: 3px;
    
    background-color: #e8eaed;
}
button {
    font-family: Candara;
    background-color: rgba(52, 168, 83, 1);
    color: white;
    font-size: 16px;
    border: none;
    height: 20px;
}
textarea {
    background-color: #e8eaed;
    resize:none;
}
.copyright {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    font-weight: 600;
}
.sidebar {
    right: 2px;
    bottom: 15px;
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: 15;
    top: 138px;
    background-color: rgba(20, 37, 65, 1);
    box-shadow: 4px 4px #dcdcdc;
    padding-right: 15px;
    border-radius: 4px;
    width:300px;
    background-color:#0082e6;
    display:none;
}
@media(max-width:1280px){
   
    .nav-header {
       display:none;
    }
    .button-menu {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        float: right;
        
    }
    .button-menu > span {
        color: white;
        font-size: 30px;
       
    }
    .sidebar {
        right: 2px;
        bottom: 15px;
        position: fixed;
        display: flex;
        flex-direction: column;
        align-items:center;
        justify-content: space-evenly;
        color:white;
        z-index: 15;
        top: 138px;
        background-color: rgba(20, 37, 65, 1);
        box-shadow: 4px 4px #dcdcdc;
        border-radius: 4px;
        width: 300px;
        background-color: #0082e6;
        font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        transition:.5s;
        display:none;
    }

   
}

/*@media(max-width:1400px){
    .header{
        display:none;
    }
}

@media(width:1200px){
    .footer {
       
        margin-top: 600px;
        margin-bottom:-1500px;
    }
}
@media(width:820px) {
    .main {
        width:775px;
        height:1800px;
    }
    .footer {
        padding: 20px;
        color: white;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        margin-bottom: -1000px;
        background-color: rgba(20, 37, 65, 1);
        background-color: #3c4043;
        box-shadow: 2px 2px #dcdcdc;
        margin-top: 5px;
    }

}
@media(max-width:1024px) {
   /** .main {
        width: 775px;
        height: 1800px;
    }

    .footer {
        padding: 20px;
        color: white;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        margin-bottom: -1000px;
        background-color: rgba(20, 37, 65, 1);
        background-color: #3c4043;
        box-shadow: 2px 2px #dcdcdc;
        margin-top: 5px;
    }
}
@media(max-width:540px){
    .footer {
        width: 750px;
    }
}
@media(max-width:375px) {
    .footer {
        width: 340px;
        
    }
    .main {
        width: 360px;
        height: 1740px;
    }
    .submit-button {
        width: 60%;
        font-family: Candara;
        background-color: rgba(52, 168, 83, 1);
        color: white;
        font-size: 26px;
        border: none;
        height: 20px;
        height: 40px;
        font-weight: bold;
        border-radius: 5px;
    }
    .input-button {
        border: none;
        height: 40px;
        outline-color: deepskyblue;
        border-radius: 3px;
        background-color: #e8eaed;
        width:150px;
    }
    textarea {
        background-color: #e8eaed;
        width: 60%;
    }
}
@media(max-width:414px) {
    .footer {
        width: 340px;
        grid-template-rows: 100px 1fr;
    }

    .main {
        width: 414px;
        height: 1800px;
    }
}
@media(max-width:430px){
    .main {
        width: 414px;
        
    }
    .footer {
        padding:0px;
        width: 430px;
        grid-template-rows: 100px 1fr;
    }
    textarea {
        background-color: #e8eaed;
        width: 40%;
    }
    .input-button {
        border: none;
        height: 40px;
        outline-color: deepskyblue;
        border-radius: 3px;
        background-color: #e8eaed;
        width: 150px;
    }
}*/