@{
    Layout = "~/Views/Administration/_Layout.cshtml";
}
<!Doctype Html>
<html>
    <head>
        <title>Statistiques</title>
    </head>
    <body>
    <a href="https://analytics.google.com/analytics/web">statistiques</a>
    </body>
</html>