@{
    Layout = "~/Views/Administration/_Layout.cshtml";
}
<!Doctype Html>
<html>
    <head>
        <title>Interêt</title>
    </head>
    <body>
        <div class="interêt">
            <div class="Messages">
                  <h1>Messages</h1
               <div class="body">

            </div>
        </div>
        <div class="Emplois">
          <h1>Emplois</h1
          <div class="body">

          </div>
       </div>
       <div class="Stages">
          <h1>Stages</h1
          <div class="body">

          </div>
       </div>
     </div>
    </body>
</html>