@using bds_site_web_version7_.Models;
@{
    Layout = "~/Views/Projets/_Layout.cshtml";

}
@{
    ViewData["Title"] = "Projet Realisé";
}
@model IEnumerable<ProjetRealise>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <!--<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />-->
    <!--- <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />-->
    <link rel="stylesheet" href="~/css/Projets.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Bds_site_web.styles.css" asp-append-version="true" />

    @* Ajoutez le code de suivi Google Analytics ci-dessous *@
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-XRF3WKRQHH"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());
        gtag('config', 'G-XRF3WKRQHH');
    </script>
    @* Fin du code de suivi Google Analytics *@
</head>
<body>
    <div class="list-projet">
       
            
           
    </div>
    
</body>
</html>